.rostik_head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    margin: auto;
    padding: 10px 0 0 0;
    background: #b18e8e;
}
.rostik_head img {
    width: 20%;
}
.white {
    color: #fff;
}